<div class="accountDiv" id="white">
<h2>Sign up</h2>

<%= render "devise/registrations/new" %>
<%= render "devise/shared/links" %>
<p>By submitting this form, you adhear to our <%= link_to "Terms of Service", terms_path %> and have read our <%= link_to "Privacy Policy", privacy_path %></p>
</div>


<div class="row index" id='beige'>
	<div class="col-md-12">
		<%= render "shared/indexfooter" %>
	</div>
</div>