<div class="panel panel-default" id="comment-<%= comment.id %>">
	<div class="panel-heading">
		<h4 class="panel-title"><%= link_to comment.user.username, user_path(comment.user.id) %> said <%= time_ago_in_words(comment.created_at) %> ago</h4>
	</div>
	<div class="panel-body">
		<p><%= comment.content %></p>
	</div>
	<% if current_user == comment.user %>
		<div class="panel-footer">
			<%= link_to "", comment_path(comment.id), :method => :delete, class: "glyphicon glyphicon-trash" %>
		</div>
	<% end %>
</div>