<%= form_for("user", :url => user_session_path) do |f| %>

	<p><%= f.label :email %><br />
	<%= f.email_field :email, class: "form-control" %></p>

	<p><%= f.label :password %><br />
	<%= f.password_field :password, class: "form-control" %></p>

	<p><%= f.submit "Sign In", class: "btn btn-primary", id: "button" %></p>
<% end %>