<%= form_for @post do |f| %>
	<p>
		<%= f.label "Where Are You?" %><br>
		<%= f.text_field :address, placeholder: "Somewhere, USA", value: "#{request.location.latitude},#{request.location.longitude}", class: "form-control", id: "address"%>
	</p>
	<p>
		<%= f.label "Who is this to?" %><br>
		<%= f.text_field :title, placeholder: "The vehicle over there", class: "form-control" %>
	</p>
	<p>
		<%= f.label "What do you want to say?" %><br>
		<%= f.text_area :content, placeholder: "What were you thinking?!", class: "form-control message" %>
	</p>
	<p>You have <B><SPAN class="countdown">240</SPAN></B> characters remaining.</p>
	<p><%= f.submit "Post", class: "btn btn-large btn-primary", id: "button" %></p>
<% end %>
<script>
	function updateCountdown() {
		var remaining = 240 - jQuery('.message').val().length;
		jQuery('.countdown').text(remaining);
	}
	$(document).ready(function($) {
		updateCountdown();
		$('.message').change(updateCountdown);
		$('.message').keyup(updateCountdown);
	});


	function displayError(error) {
		var errors = { 
			1: 'Permission denied',
			2: 'Position unavailable',
			3: 'Request timeout'
		};
		alert("Error: " + errors[error.code]);
	}
</script>