<h3><%= link_to @post.user.username, user_path(@post.user_id) %> said <%= time_ago_in_words(@post.created_at) %> ago</h3>
<div id="post-<%= @post.id %>">
	<div class="map-img">
		<p class="static-map"></p>
	</div>
	<div class="post-content">
		<h4>Title: <%= @post.title %></h4>
		<p>Content:<br><%= @post.content %></p>
		<% if current_user && current_user == @post.user %>
		<p><%= link_to " Delete this post", post_path(@post.id), :method => :delete, class: "glyphicon glyphicon-trash" %></p>
		<% end %>
	</div>
</div>
<hr style="clear:both;">
<script>
	var divwidth = $( ".static-map" ).width();
	$(".static-map").append('<img class="postImg" src="https://maps.googleapis.com/maps/api/staticmap?zoom=16&size='+divwidth+'x300&scale=1&scale=2&maptype=streetview&markers=<%= @post.latitude %>,<%= @post.longitude %>&sensor=false[/IMG]">');
</script>