<% if current_user.id == post.user_id %>
	var contentString = '<div id="content">'+
		'<div id="siteNotice">'+
		'</div>'+
		'<h4 id="firstHeading" class="firstHeading"><%= post.title %></h4>'+
		'<div id="bodyContent"><p><%= post.content %></p><p><%= link_to "See Full Post", post_path(post.id) %> <small><%= link_to "", post_path(post.id), :method => :delete, class: "glyphicon glyphicon-trash" %></small></p>'+
		'</div>'+
		'</div>';
<% else %>
	var contentString = '<div id="content">'+
		'<div id="siteNotice">'+
		'</div>'+
		'<h4 id="firstHeading" class="firstHeading"><%= post.title %></h4>'+
		'<div id="bodyContent"><p><%= post.content %></p>'+
		'<p><%= link_to "See Full Post", post_path(post.id) %></p></div>'+
		'</div>';
<% end %>


var infowindow = new google.maps.InfoWindow({
	content: contentString
});

var marker = new google.maps.Marker({
	position: new google.maps.LatLng(<%= post.location %>),
	map: map,
	title: '<%= post.title %>'
});

google.maps.event.addListener(marker, 'click', function() {
	infowindow.open(map,marker);
});