<!DOCTYPE html>
<html>
<head>
	<title>Gridlocked</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<%= favicon_link_tag 'logos/apple-touch-icon-196x196.png', :rel => 'shortcut icon', :type => 'image/png', :sizes => "196x196" %>
	<%= favicon_link_tag 'logos/apple-touch-icon-72x72.png', :rel => 'shortcut icon', :type => 'image/png', :sizes => "72x72" %>
	<%= favicon_link_tag 'logos/apple-touch-icon-196x196.png', :rel => 'shortcut icon', :type => 'image/png', :sizes => "196x196" %>
	<%= favicon_link_tag 'logos/apple-touch-icon-60x60.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
	<%= favicon_link_tag 'logos/apple-touch-icon-114x114.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => "114x114" %>
	<%= favicon_link_tag 'logos/apple-touch-icon-76x76.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => "76x76" %>
	<%= favicon_link_tag 'logos/apple-touch-icon-120x120.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => "120x120" %>
	<%= favicon_link_tag 'logos/apple-touch-icon-152x152.png', :rel => 'apple-touch-icon', :type => 'image/png', :sizes => "152x152" %>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default" />
	<meta name="mobile-web-app-capable" content="yes">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript">
	</script>
</head>
<body>
	<%= render "shared/header" %>
	<div id="body">
		<div class="row">
			<% if current_user %>
				<%= render "users/userside" %>
				<div class="col-md-8">
					<%= yield %>
				</div>
			<% else %>
					<%= render "shared/leftside" %>
					<div id="jumbotron">
						<div class="col-md-8" id="rightbody"> 
							<%= yield %>
						</div>
					</div>
			<% end %>
		</div>
	</div>
	<script type="text/javascript">
		$("#mobileMenu").click(function(){
			$( ".col-md-4" ).toggle( "slide" );
		});

 
		var current_effect = 'bounce';
		<% if current_user %>
			$('a').click(function(){
				run_waitMe(current_effect);
			});
		<% end %>
		$('#button').click(function(){
			run_waitMe(current_effect);
		});
		 
		function run_waitMe(effect){
			$('body').waitMe({
				effect: 'bounce',
				text: '',
				bg: 'rgba(255,255,255,0.7)',
				color: '#000',
				sizeW: '',
				sizeH: ''
			});
		}
	</script>
</body>
</html>
